In [1]:
import numpy as np
from scipy import stats

In [3]:
# Performing one way Anova Test
a=[4,3,2]
b=[2,4,6]
c=[2,1,3]
ans=stats.f_oneway(a,b,c)
print(ans)

F_onewayResult(statistic=1.5, pvalue=0.2962962962962962)

In [4]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [7]:
data=pd.read_csv('oneway.csv')
data

   TeachingMethod1  TeachingMethod2  TeachingMethod3
0                4                2                2
1                3                4                1
2                2                6                3

In [8]:
data_new=pd.melt(data.reset_index(),id_vars=['index'],value_vars=['TeachingMethod1','TeachingMethod2','TeachingMethod3'])
data_new.columns=['id','method','value']
data_new

   id           method  value
0   0  TeachingMethod1      4
1   1  TeachingMethod1      3
2   2  TeachingMethod1      2
3   0  TeachingMethod2      2
4   1  TeachingMethod2      4
5   2  TeachingMethod2      6
6   0  TeachingMethod3      2
7   1  TeachingMethod3      1
8   2  TeachingMethod3      3

In [10]:
model=ols('value ~ C(method)',data=data_new).fit()
anova_table=sm.stats.anova_lm(model,type=1)
anova_table

            df  sum_sq  mean_sq    F    PR(>F)
C(method)  2.0     6.0      3.0  1.5  0.296296
Residual   6.0    12.0      2.0  NaN       NaN