In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv('johnsonFiltration.csv')
df

,service_call,months_since_last_service,type_of_repair,repair_time_in_hours
0,1,2,e,2.9
1,2,6,m,3.0
2,3,8,e,4.8
3,4,3,m,1.8
4,5,2,e,2.9
5,6,7,e,4.9
6,7,9,m,4.2
7,8,8,m,4.8
8,9,4,e,4.4
9,10,6,e,4.5

In [3]:
just_dummies=pd.get_dummies(df['type_of_repair'])
just_dummies

   e  m
0  1  0
1  0  1
2  1  0
3  0  1
4  1  0
5  1  0
6  0  1
7  0  1
8  1  0
9  1  0

In [5]:
df=pd.concat([df,just_dummies],axis=1)
df

,service_call,months_since_last_service,type_of_repair,repair_time_in_hours,e,m
0,1,2,e,2.9,1,0
1,2,6,m,3.0,0,1
2,3,8,e,4.8,1,0
3,4,3,m,1.8,0,1
4,5,2,e,2.9,1,0
5,6,7,e,4.9,1,0
6,7,9,m,4.2,0,1
7,8,8,m,4.8,0,1
8,9,4,e,4.4,1,0
9,10,6,e,4.5,1,0

In [6]:
df.drop(['type_of_repair','m'],axis=1,inplace=True)

In [11]:
X=df.drop(['service_call','repair_time_in_hours'],axis=1)
Y=df.repair_time_in_hours

In [14]:
import statsmodels.api as sm

In [17]:
X=sm.add_constant(X)
reg=sm.OLS(Y,X).fit()
reg.summary()

/home/abhilash/.local/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     repair_time_in_hours   R-squared:                       0.859
Model:                              OLS   Adj. R-squared:                  0.819
Method:                   Least Squares   F-statistic:                     21.36
Date:                  Fri, 01 Jan 2021   Prob (F-statistic):            0.00105
Time:                          12:13:44   Log-Likelihood:                -4.6200
No. Observations:                    10   AIC:                             15.24
Df Residuals:                         7   BIC:                             16.15
Df Model:                             2
Covariance Type:              nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                         0.9305      0.467      1.993      0.087      -0.174       2.035
months_since_last_service     0.3876      0.063      6.195      0.000       0.240       0.536
e                             1.2627      0.314      4.020      0.005       0.520       2.005
==============================================================================
Omnibus:                        3.357   Durbin-Watson:                   1.136
Prob(Omnibus):                  0.187   Jarque-Bera (JB):                1.663
Skew:                           0.994   Prob(JB):                        0.435
Kurtosis:                       2.795   Cond. No.                         22.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
from sklearn.linear_model import LinearRegression
X=df.drop(['service_call','repair_time_in_hours'],axis=1).values
Y=df.repair_time_in_hours.values
reg=LinearRegression().fit(X,Y)
reg.score(X,Y)

0.8591945972335999