In [2]:
import numpy as np 
import pandas as pd 
from scipy import stats

In [3]:
#Ho=Type of fuel is independent of Income
#H1=Type of fuel is dependent of Income
data={'Income':['Less than 30000','Between 30000 to 49999','Between 50000 to 99999','Atleast 100000'],
     'Regular':[85,102,36,15],'Premium':[16,27,22,23],'Extra Premium':[6,12,15,25]}
data=pd.DataFrame(data)
data

                   Income  Regular  Premium  Extra Premium
0         Less than 30000       85       16              6
1  Between 30000 to 49999      102       27             12
2  Between 50000 to 99999       36       22             15
3          Atleast 100000       15       23             25

In [4]:
data.set_index(['Income'])

                        Regular  Premium  Extra Premium
Income
Less than 30000              85       16              6
Between 30000 to 49999      102       27             12
Between 50000 to 99999       36       22             15
Atleast 100000               15       23             25

In [5]:
data_values=data.iloc[:,1:].values
data_values

array([[ 85,  16,   6],
       [102,  27,  12],
       [ 36,  22,  15],
       [ 15,  23,  25]], dtype=int64)

In [6]:
chi2,p,dof,tb1=stats.chi2_contingency(data_values)

In [7]:
chi2

72.05340521506713

In [8]:
p

1.5492396324024494e-13

In [9]:
dof

6

In [10]:
stats.chi2.ppf(0.99,6)

16.811893829770927

In [12]:
tb1

array([[66.31770833, 24.52083333, 16.16145833],
       [87.390625  , 32.3125    , 21.296875  ],
       [45.24479167, 16.72916667, 11.02604167],
       [39.046875  , 14.4375    ,  9.515625  ]])

In [11]:
print("Since the value of calculated chi2 is greater than chi2 observed therefore we have to reject the null hypothesis")

Since the value of calculated chi2 is greater than chi2 observed therefore we have to reject the null hypothesis